<dialogueconfig>
  <general>
    <config key="MemberGroupDefault" value="Dialogue Standard" />
    <config key="MemberTypeAlias" value="DialogueMember" />
    <config key="MemberTypeName" value="Dialogue Member" />

    <config key="PageUrlLeaderboard" value="leaderboard" />
    <config key="PageUrlActivity" value="activity" />
    <config key="PageUrlFavourites" value="favourite" />
    <config key="PageUrlPostReport" value="postreport" />
    <config key="PageUrlEditPost" value="editpost" />
    <config key="PageUrlMessageInbox" value="messageinbox" />
    <config key="PageUrlMessageOutbox" value="messageoutbox" />
    <config key="PageUrlCreatePrivateMessage" value="createmessage" />
    <config key="PageUrlViewPrivateMessage" value="viewmessage" />
    <config key="PageUrlViewReportMember" value="reportmember" />
    <config key="PageUrlEditMember" value="editmember" />
    <config key="PageUrlChangePassword" value="changepassword" />
    <config key="PageUrlSearch" value="search" />
    <config key="PageUrlTopicsRss" value="topicsrss" />
    <config key="PageUrlActivityRss" value="activityrss" />
    <config key="PageUrlCategoryRss" value="categoryrss" />
    <config key="PageUrlCreateTopic" value="create" />
    <config key="PageUrlBadges" value="badges" />
    <config key="PageUrlEmailConfirmation" value="emailconfirmation" />
    <config key="PageUrlSpamOverview" value="spamoverview" />
    <config key="PageUrlAuthorise" value="authorise" />

    <config key="DocTypeForumRoot" value="Dialogue" />
    <config key="DocTypeForumCategory" value="DialogueCategory" />
    <config key="DocTypeLogin" value="Dialoguelogin" />
    <config key="DocTypeRegister" value="DialogueRegister" />
    <config key="DocTypeCreateTopic" value="DialogueCreateTopic" />
    <config key="DocTypeEditMember" value="DialogueEditMember" />
    <config key="DocTypeSearchMembers" value="DialogueSearchMembers" />
    <config key="DocTypeSendPrivateMessage" value="DialogueSendPrivateMessage" />

    <config key="GravatarPostSize" value="50" />
    <config key="GravatarTopicSize" value="35" />
    <config key="GravatarProfileSize" value="85" />
    <config key="GravatarLeaderboardSize" value="25" />
    
    <config key="ActiveTopicsListSize" value="20" />
    <config key="PagingGroupSize" value="10" />
    <config key="PrivateMessageListSize" value="20" />

    <config key="TimeSpanInMinutesToDoCheck" value="10" />
    <config key="TimeSpanInMinutesToShowMembers" value="20" />
    
    <!-- The two editors available are 
      markdowneditor 
        or 
      tinymceeditor
    Just change the value below to switch-->
    <config key="EditorType" value="tinymceeditor" />   
  </general>  
</dialogueconfig>