/*--- Bootstrap Overloads ---*/
.container-fluid { max-width: 1100px; margin-left: auto; margin-right: auto; }
.btn-fullwidth { padding-left: 0;padding-right: 0;text-align: center;width: 99%;margin-left: auto;margin-right: auto;}

/*--- Editor Styles ---*/
img.floatright { float: right; margin: 0 0 5px 10px; }
img.floatleft { float: left; margin: 0 10px 5px 0; }
img.floatmiddle { margin-left: auto; margin-right: auto; }

/*--- Validation Styles ---*/
.validation-summary-errors { padding: 5px 15px; margin-bottom: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.validation-summary-errors ul { margin: 0; padding: 0 0 0 15px; }
.validation-summary-errors ul li { padding: 4px 0; }
.field-validation-error { display: block; font-size: 11px; margin: 0 0 0 0; color: #FF4A4A; }

/*--- Content Blocks ---*/
.contentblock { }
.contentblock img { }

/*--- Home Styles ---*/
.coverimage {}
.coverimage img {}

/*--- Font settings ---*/
body { }
h1, h2, h3, h4, h5, h6 { margin-top: 0;}
h1 { margin-bottom: 20px;}
h2 {margin-bottom: 20px; }
h3 { }
h4 { }
h5 { }
h6 { }

/*--- Forgot password ---*/
.forgotpasswordtext { margin-top: 25px;}

/*--- Create Topic Button ---*/
.createtopicbutton { padding-bottom: 30px;}

/*--- Polls ---*/
.pollcreatebuttonholder { text-align: right; }
.createpollbutton { }
.removepollbutton { }
.pollanswerholder {}
.pollanswerholder ul { padding: 0; margin: 0; list-style: none; }
.pollanswerholder ul li { list-style: none; padding: 0 0 5px; }
.showpollholder { padding: 0 0 15px 0; }
.pollanswerrow { padding: 5px 0; font-size: 18px; padding: 5px 0; }
.pollbar { background-color: #AAAAAA; height: 20px; float: left; margin: 0 11px 0 0; }
.pollvotebuttonholder { padding: 10px 0; }
.pollanswerrowholder { font-size: 14px; padding: 0 0 3px 0; font-style: italic; }
.pollradiobuttonholder { float: left; width: 40px; text-align: center; height: 20px; }
input[type="radio"].pollanswerselect { margin: 3px 0 0 15px; float: left; }

/*--- Footer Stats ---*/
section.stats { padding-top: 40px;}


/*###########################################################*/

/*---- Media Queries ----*/
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    /*-- Stop gap produced by bootstrap*/
    body { padding-left: 0; padding-right: 0; }

    /*--- Form Stuff ---*/
    .formrow { }
    .formrow label { display: block; font-size: 12px; }
    .formrow input[type=text], .formrow input[type=password], .formrow input[type=email] { width: 93%; padding: 6px; font-size: 14px; line-height: 25px; height: 25px; }
    .formrow select { }
    .formrow textarea { width: 93%; }
    .formcheckbox { }
    .formcheckbox input[type=checkbox] { }
    .formcheckbox label { }
    .formrow input[type=file] { }
    .formrow .btn.btn-submit { }
    .formrowsubmitbtn { }
    .formrow .formrowsplit { float: none; width: 100%; }
    .checkboxlistrow ul.checkboxlist li, .radiobuttonlistrow ul.radiobuttonlist li { width: 49%; }

    /*--- Full width buttons ---*/
    .maincontent .btn { text-align: center; width: 99%; padding-left: 0 !Important; padding-right: 0 !Important; margin-left: auto; margin-right: auto; }
    .maincontent input.btn { padding-left: 0; padding-right: 0; }

    /*--- Navigation ---*/
    .nav-collapse { -webkit-transform: none; }
}

@media (max-width: 640px) {
}

@media (max-width: 640px) {
}

@media (max-width: 600px) {
}

@media (max-width: 545px) {
}
