<div class="umb-panel ng-scope" ng-controller="Dialogue.AddBannedEmailController">

    <form novalidate name="addEmailForm" ng-submit="add()">
  
        <div class="umb-panel-body with-footer">

            <label class="control-label">
                Add Email Address
                <small>For wildcard emails add *@domain.com</small>
            </label>
            <div class="controls controls-row">
                <input type="email" ng-model="email.Email" />
            </div>
        </div>

        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">

                    <a href="" ng-click="close()" class="btn btn-link">
                        <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                    </a>

                    <button type="submit" class="btn btn-primary">
                        <localize key="buttons_save">Save</localize>
                    </button>

                </div>
            </div>
        </div>

    </form>

</div>
