@using Dialogue.Logic.Application
@using Dialogue.Logic.Application.ExtensionMethods;
    @{
        var emailCookie = Request.Cookies[AppConstants.MemberEmailConfirmationCookieName];
        if (emailCookie != null)
        {
            var splitCookie = emailCookie.Value.Split('#');
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Lang("Members.MemberEmailAuthorisationNeededMessage")
                <a class="btn btn-default" href="@Urls.GenerateUrl(Urls.UrlType.EmailConfirmation)?id=@splitCookie[0]">
                    @Html.Lang("Members.MemberEmailAuthorisationResend")
                </a>
            </div>
        }
    }