@using Dialogue.Logic.Constants
@using Dialogue.Logic.Models
@{   
    var genericMessage = new GenericMessageViewModel();
    if (TempData[AppConstants.MessageViewBagName] != null)
    {
        genericMessage = (GenericMessageViewModel)TempData[AppConstants.MessageViewBagName];
    }
    else if (ViewBag.Message != null)
    {
        genericMessage = (GenericMessageViewModel)ViewBag.Message;
    }
}
<span id="jsquickmessage"></span>
@if (!string.IsNullOrEmpty(genericMessage.Message))
{
    <div class="globalmessageholder">
        <div class="alert alert-@genericMessage.MessageType.ToString().ToLower() alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.Raw(genericMessage.Message)
        </div>
    </div>    
}

