﻿@using Dialogue.Logic.Application.ExtensionMethods;
@if (!Context.IsMobileDevice())
{
<script src="@Url.Content("~/Umbraco/lib/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        tinymce.init({
            selector: "textarea.rte",
            browser_spellcheck: true,
            skin: "umbraco",
            plugins: [
                "autosave link image lists hr anchor",
                "wordcount visualblocks visualchars code fullscreen media nonbreaking"
            ],
            toolbar1: "bold italic underline strikethrough bullist hr | link unlink image code blockquote | formatselect",
            //toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
            //toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",
            remove_linebreaks: false,
            relative_urls: false,
            menubar: false,
            height: 175,
            toolbar_items_size: 'small',
            nonbreaking_force_tab: true
        });
    </script>
}
<div class="tinymceholder">    
    @Html.TextArea(string.Empty, new {@class = "rte"})     
</div>
