@using Dialogue.Logic.Application
@{
    
}

<p><a href="@UrlTypes.GenerateUrl(UrlTypes.UrlType.FacebookLogin)" class="btn btn-default btn-fullwidth">Facebook Login</a></p>
<p><a href="@UrlTypes.GenerateUrl(UrlTypes.UrlType.GoogleLogin)" class="btn btn-default btn-fullwidth">Google Login</a></p>
