<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net40" />
  <package id="bootstrap" version="3.1.1" targetFramework="net40" />
  <package id="Imazen.SlimResponse" version="0.2.4936.26457" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="MvcDonutCaching" version="1.2.3" targetFramework="net40" />
  <package id="Respond" version="1.4.2" targetFramework="net40" />
  <package id="SquishIt" version="0.9.5.4" targetFramework="net40" />
  <package id="SquishIt.Mvc" version="0.9.5.4" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>